# NEXT AUTH
NEXTAUTH_SECRET=<YOUR_SECRET>

# SITE
NEXT_PUBLIC_SITE_URL=<YOUR_SITE_URL> (optional)

# VERCEL
NEXT_PUBLIC_VERCEL_URL=<YOUR_VERCEL_URL> (optional)

# API
NEXT_PUBLIC_API_URL=<YOUR_API_URL>